# app
EI_TAG=main
EI_APP=miraco-svg-exporter
CREDENTIAL_FILENAME=creds.json
CREDENTIAL_JSON=
PROJECT_ID=
SHOPIFY_INSTANCE=elias-interconnect
SHOPIFY_API_KEY=
SHOPIFY_API_VERSION=2024-04
TEMPLATE_FILENAME=miraco-007-V2-win.svg